.page {
  padding: var(--pageMargin);
  min-height: 100vh;
}

.pageLayout {
  display: grid;

  //mobile
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    // large
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    align-items: start;
  }
}

.article {
  a {
    font-weight: 700;
    &[target="_blank"] {
      sup {
        font-size: 50%;
      }
    }
  }
}

.pageTitle {
  font-size: 38px;
  // max-width: 10em;
  line-height: 1;
  margin: 0;
  + * {
    margin-top: var(--gap);
  }
  @media (min-width: 768px) {
    font-size: 56px;
  }
}

.body {
  grid-column: 1;
  // text-align: right;
}
